.demo-nav-li {
  float: right;
  padding-left: 10px;
}

.project-list-main {
  text-align: left;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}

.project-item-main {
  display: flex;
  justify-content: space-around;
}

.project-list-title, .project-item-title {
  clear: both;
  text-align: left;
  padding-top: 50px;
  margin-left: 10px;
}

.list-todo, .list-done, .list-in-progress {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}


.add-card-form {
  width: min-content;
  margin-left: 10px
}